In [1]:
print(f'Hi_')

Hi_

In [1]:
print(f'Das ist ein Test')

Das ist ein Test

In [1]:
print(f'Das ist ein Test')

Das ist ein Test

In [2]:
import numpy as np

In [3]:
print(np.__version__)

1.19.2

In [4]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
np.full((3, 3), True, dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [6]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

In [7]:
arr[arr % 2 == 1] = -1

In [8]:
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [9]:
arr = np.arange(10)
out = np.where(arr % 2 == 1, -1, arr)
print(arr)
out

[0 1 2 3 4 5 6 7 8 9]

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [10]:
arr = np.arange(10)
arr.reshape(2, -1)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [11]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
a
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [12]:
a

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [13]:
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [14]:
np.concatenate([a, b], axis=0)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [15]:
a = np.arange(10).reshape(2,-1)

b = np.repeat(1, 10).reshape(2,-1)

In [16]:
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [17]:
np.concatenate([a, b], axis=1)

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [18]:
a = np.array([1,2,3])

In [19]:
np.r_[np.repeat(a, 3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [20]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

In [21]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

In [22]:
np.where(a == b)

(array([], dtype=int64),)

In [23]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

In [24]:
index = np.where((a >= 5) & (a <= 10))
a[index]

array([5, 6])

In [25]:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

pair_max = np.vectorize(maxx, otypes=[float])

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

pair_max(a, b)

array([6., 7., 9., 8., 9., 7., 5.])

In [26]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [27]:
arr[:, [1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [28]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [29]:
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [30]:
arr = np.arange(9).reshape(3,3)
arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

In [31]:
rand_arr = np.random.uniform(5,10, size=(5,3))
print(rand_arr)

[[5.51266338 5.86315997 8.67520784]
 [5.6067042  5.38606055 7.66910949]
 [6.7743116  9.27902109 9.93711759]
 [8.23216462 6.73665754 5.20929887]
 [5.66447567 7.63780451 8.77295217]]

In [32]:
np.set_printoptions(precision=3)
rand_arr[:4]

array([[5.513, 5.863, 8.675],
       [5.607, 5.386, 7.669],
       [6.774, 9.279, 9.937],
       [8.232, 6.737, 5.209]])

In [33]:
np.set_printoptions(suppress=True, precision=6)

In [34]:
rand_arr

array([[5.512663, 5.86316 , 8.675208],
       [5.606704, 5.386061, 7.669109],
       [6.774312, 9.279021, 9.937118],
       [8.232165, 6.736658, 5.209299],
       [5.664476, 7.637805, 8.772952]])

In [35]:
np.set_printoptions(threshold=6)
a = np.arange(15)
a

array([ 0,  1,  2, ..., 12, 13, 14])

In [36]:
np.set_printoptions(threshold=np.nan)
a

ValueError: threshold must be non-NAN, try sys.maxsize for untruncated representation

In [37]:
a = np.arange(15)
a

array([ 0,  1,  2, ..., 12, 13, 14])

In [38]:
np.set_printoptions(threshold=np.int)

ValueError: threshold must be non-NAN, try sys.maxsize for untruncated representation

In [39]:
np.set_printoptions(threshold=np.int)

TypeError: threshold must be numeric

In [40]:
np.set_printoptions()

In [41]:
a

array([ 0,  1,  2, ..., 12, 13, 14])

In [42]:
np.set_printoptions(precision=400)
a

array([ 0,  1,  2, ..., 12, 13, 14])

In [47]:
np.set_printoptions(threshold=1000) 
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [48]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

In [49]:
iris[:3]

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

In [50]:
import pandas as pd

In [73]:
df = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv', sep='delimiter')
df

<ipython-input-73-b67a12ea49a3>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv', sep='delimiter')

                                       <!DOCTYPE html>
0    <html lang="en" data-color-mode="auto" data-li...
1                                               <head>
2                               <meta charset="utf-8">
3    <link rel="dns-prefetch" href="https://github....
4    <link rel="dns-prefetch" href="https://avatars...
..                                                 ...
903  <div class="Popover-message Popover-message--b...
904                                             </div>
905                                             </div>
906                                            </body>
907                                            </html>

[908 rows x 1 columns]

In [55]:
import io

In [3]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)

df.head()

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [4]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)

df.head()

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [5]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)

df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [6]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)
df.describe()

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

In [13]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)
df['Currency']=df['Currency'].map('EUR'.format)
df

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      EUR
2    Canada   36503097  9984670  1529      EUR
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798      EUR

In [14]:
import pandas as pd
import numpy as np


filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)
df2 = pd.DataFrame(df,columns=['Name','Currency'])
df2

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [21]:
filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)
df2 = df[df['BIP']>2000]
df2

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [29]:
filepath = 'C:/Users/Pierr/workspaceJupiter/DA_Jupiter/test.csv'
df = pd.read_csv(filepath, sep = ',', header='infer', names=None)
df2 = df[(df['People']>50000000) & (df['People']<150000000)]
df2

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR